body {
    width: 330px;
}
.error {
    color: #933;
}
.warning {
    color: #388;
}
#banner {
    display: none;
    font: 300 14px 'Arial';
    width: 310px;
    padding-bottom: 10px;
}
.last-change {
    font: 300 12px 'Arial';
    padding-bottom: 6px;
}
.link a {
    font: 300 12px 'Arial';
    color: #666;
}
#banner.show {
    display: block;
}
.hide {
    display: none;
}
.clr {
    clear: both;
}
.label-allow-other-users {
    margin-bottom: 15px;
}
#allow-show-statistic,
#allow-other-users {
    height: 16px;
    width: 16px;
    margin-top: 5px;
}
.relative {
    position: relative;
}
.label-allow-other-users {
    top: 5px;
    position: absolute;
}
div[id|=color] {
    width: 240px;
    position: relative;
    padding: 5px;
    border-bottom: 1px solid #eee;
}
div[id|=color]:last-of-type {
    border-bottom: 0;
}
input[type="color"] {
    position: absolute;
    right: 0;
    padding: 0;
    border: 0;
}
